* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* Largeur/hauteur incluent padding + bordure */
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('/Timer/5825705.jpg') no-repeat center center fixed;
    /* Fond d'écran */
    background-size: cover;
    /* Couvre tout l'écran */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}


.welcome {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    max-width: 800px;
    height: auto;

    margin: auto;
    padding: 20px;
}

/* L'horloge */
.clock {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* Style commun à tous les <span> de l'horloge (heures, min, sec) */
.clock span {
    font-size: clamp(40px, 8vw, 80px);
    min-width: 70px;
    text-align: center;
    font-weight: 500;
    text-align: center;
    /* Centre les chiffres dans leur espace */
    display: inline-block;
    /* Permet de leur donner une largeur fixe */
    position: relative;
    transition: color 0.3s ease;
    font-weight: 500;


}

.clock span:hover {
    color: #00e0ff;
    transform: scale(1.1);
}

.clock a {
    font-size: 80px;
    /* Chiffres très gros */
    width: 50px;
    /* Largeur fixe pour chaque bloc de chiffres */
    text-align: center;
    /* Centre les chiffres dans leur espace */
}

.clock m {
    font-size: 50px;
    /* Chiffres très gros */
    width: 110px;
    /* Largeur fixe pour chaque bloc de chiffres */
    padding-top: 60px;
    padding-left: 20px;
    font-weight: 700;
}

/* Petit texte "HOURS", "MINS", "SEC" sous chaque groupe de chiffres */
.clock span::after {
    font-size: 16px;
    /* Texte beaucoup plus petit */
    position: absolute;
    bottom: -5px;
    /* Juste en dessous des gros chiffres */
    left: 50%;
    transform: translateX(-50%);
    /* Centre parfaitement le texte */
}

.date {
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 2px;

}

/* Texte spécifique sous les heures */
#hours::after {
    content: 'HRS';
}

/* Texte sous les minutes */
#minutes::after {
    content: 'MINS';
}

/* Texte sous les secondes */
#seconds::after {
    content: 'SEC';
}

.personal-touch {
    font-size: 15px;

    position: relative;
    font-weight: bold;

}

@media (max-width: 600px) {

    .container {
        width: 100%;
    }

    .clock span {
        font-size: 45px;
    }

    .date {
        font-size: 16px;
    }

    .clock m {
        font-size: 30px;
    }

}